.card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #f2f1ef;
    width: 35%;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 5px #f2f1ef;
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.text{
    padding: 20px;
}

.text button{
    background-color: #61aeec;
    border: none;
    color: whitesmoke;
    border-radius: 20px;
    padding: 8px;
}

.jane{
    display: flex;
    gap: 20px;
    align-items: center;
}

.jane img{
    width: 15%;
    height: 75px;
    border-radius: 50%;
}

.text-1 p{
    font-size: 14px;
}
h4{
    margin: 0;
}